<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %>
</head>
<body>
    <main
        id="home"
        class="px-24"
        style="
            background-image: url(/image/backgrounds/background_one.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        "
    >
        <%- include('partials/navbar') %>
		<%- include('partials/header', {
			welcomeMenssage: "Bem-vindo ao Projeto TDAH",
			description: "O Projeto TDAH é uma ferramenta criada para ajudar pessoas com TDAH a organizar e manter uma rotina de estudos eficiente, oferecendo planos personalizados que se adaptam ao estilo de aprendizagem de cada usuário.",
		}) %>
    </main>
    <section
        id="home"
        class="bg-neutral-950/25 px-24 w-full h-[75vh] flex items-center justify-between"
    >
        <div class="flex flex-row items-center justify-between">
            <%- include('partials/cards', { 
                imageCard: '/image/icones/accessibility.svg', 
                titleCard: 'Feito para Todos', 
                descriptionCard: 'Um design pensado para simplificar sua rotina de estudos, com acessibilidade em cada detalhe, facilitando o uso para todos.', 
                buttonCard: 'Explore Mais',
                linkCard: '#' 
            }) %>

            <%- include('partials/cards', { 
                imageCard: '/image/icones/calendar.svg', 
                titleCard: 'Agenda Personalizada', 
                descriptionCard: 'Uma agenda adaptada às suas necessidades, ajudando você a manter o foco e a gerenciar seu tempo com eficiência.', 
                buttonCard: 'Personalize Sua Agenda',
                linkCard: 'agenda'  
            }) %>

            <%- include('partials/cards', { 
                imageCard: '/image/icones/task.svg', 
                titleCard: 'Organização Inteligente', 
                descriptionCard: 'Ferramentas de tarefas que tornam o planejamento dos estudos fácil e intuitivo, ajudando você a alcançar suas metas.', 
                buttonCard: 'Organize Suas Tarefas',
                linkCard: 'task' 
            }) %>
        </div>
    </section>
    <section id="about">
       <%- include('partials/about') %>
    </section>
    <section id="team">
        <%- include('partials/team') %>
	</section>
    <section id="contact">
        <%- include('partials/footer') %>
	</section>
</body>
</html>