<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('partials/head') %>
	</head>
	<body>
		<div
			class="px-24"
			style="
				background-image: url(/image/backgrounds/background_one.png);
				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;
			"
		>
			<%- include('partials/navbar') %> <%- include('partials/header') %>
		</div>
		<section
			class="bg-neutral-950/25 px-24 w-full h-[75vh] flex items-center justify-between"
		>
			<div class="flex flex-row items-center justify-between">
				<%- include('partials/cards', { 
					imageCard: '/image/wallpapers/1.jpg', 
					titleCard: 'Título do Card', 
					descriptionCard: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, facere. Ab, dolorum ullam animi quis porro, ad consequatur voluptatibus, voluptate maxime facilis necessitatibus eum fugiat libero. Consequatur amet consequuntur nulla.', 
					buttonCard: 'Texto do Botão',
					linkCard: '#' 
				}) %>

				<%- include('partials/cards', { 
					imageCard: '/image/wallpapers/2.jpg', 
					titleCard: 'Título do Card', 
					descriptionCard: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, facere. Ab, dolorum ullam animi quis porro, ad consequatur voluptatibus, voluptate maxime facilis necessitatibus eum fugiat libero. Consequatur amet consequuntur nulla.					', 
					buttonCard: 'Texto do Botão',
					linkCard: '#'  
				}) %>

				<%- include('partials/cards', { 
					imageCard: '/image/wallpapers/4.jpg', 
					titleCard: 'Título do Card', 
					descriptionCard: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, facere. Ab, dolorum ullam animi quis porro, ad consequatur voluptatibus, voluptate maxime facilis necessitatibus eum fugiat libero. Consequatur amet consequuntur nulla.', 
					buttonCard: 'Texto do Botão',
					linkCard: '#' 
				}) %>
            </div>
		</section>
		<section class="h-screen w-full px-24 flex items-center bg-neutral-900">
			<div class="flex flex-row justify-center items-start gap-8">
				<img src="/image/about-image.png" alt="" />
				<div class="flex flex-col gap-6">
					<h2
						class="text-5xl uppercase font-semibold text-neutral-50"
					>
						About Me
					</h2>
					<div>
						<p class="text-neutral-300 font-normal text-lg">
							Lorem ipsum dolor sit amet consectetur adipisicing
							elit. Est quidem ipsum, harum dolores error debitis
							illo voluptas nobis, perferendis fugiat dolorem,
							beatae fuga commodi enim quo recusandae asperiores
							voluptatum ad.
						</p>
						<p class="text-neutral-300 font-normal text-lg">
							Lorem ipsum dolor sit amet consectetur, adipisicing
							elit. Saepe cumque cupiditate amet voluptatibus
							exercitationem repellendus asperiores, delectus
							similique omnis veritatis, eum possimus odio ab
							dolores, natus minus vel perspiciatis praesentium!
						</p>
					</div>
				</div>
			</div>
		</section>
		<%- include('partials/team') %> <%- include('partials/footer') %>
	</body>
</html>
