<div
	class="w-[280px] h-fit bg-neutral-200 p-5 rounded-xl flex flex-col items-center gap-6"
>
	<img
		src="<%= imageCard %>"
		class="rounded-xl w-[50%] "
		alt=""
	/>
	<div class="text-center flex flex-col gap-4">
		<h2 class="text-lg font-bold text-neutral-950"><%= titleCard %></h2>
		<p class="text-neutral-800">
            <%= descriptionCard %>a
		</p>
	</div>
	<a href="<%= linkCard %>" class="border border-solid border-neutral-950 py-1 px-3 rounded-lg">
		<%= buttonCard %>
	</a>
</div>
