<title><%= title %></title>
<div class="w-full h-screen flex items-center justify-center">
	<div
		class="w-fit h-fit flex flex-col items-center justify-center gap-3 bg-neutral-900 bg-opacity-20 backdrop-blur-xl rounded-xl p-12"
	>
		<h1
			class="text-[2rem] leading-10 font-semibold text-gray-100 uppercase mb-6"
		>
			Registre-se
		</h1>
		<form id="form-register" action="/register" method="post" class="">
			<input type="hidden" name="_csrf" value="<%= csrfToken %>">
			<fieldset
				class="w-96 h-fit flex flex-col gap-4 justify-center mb-4"
			>
				<div class="flex flex-row gap-4">
					<div class="relative z-0 input-filled">
						<div class="absolute left-4 top-4 z-10">
							<span class="material-symbols-outlined">
								person
							</span>
						</div>
						<input
							type="text"
							aria-label="inputtext"
							name="registername"
							id="fregister-name"
							class="w-full h-14 block leading-5 relative pt-2 pl-14 pr-4 rounded-t bg-gray-100 border-b focus:border-b-2 border-gray-500 overflow-x-auto focus:outline-none focus:ring-0 text-gray-800 focus:border-primary-600 peer"
							placeholder=" "
							value=""
						/>
						<label
							for="fregister-name"
							class="absolute text-gray-500 duration-300 transform -translate-y-3.5 scale-75 top-4 z-10 origin-[0] left-14 peer-focus:left-14 peer-focus:text-primary-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-3.5 peer-invalid:text-error-600"
							>Primeiro nome</label
						>
						<div class="pt-1 px-4 text-xs tracking-[0.4px] text-error-600"><%= errorMessageName %></div>
					</div>
					<div class="relative z-0 input-filled">
						<div class="absolute left-4 top-4 z-10">
							<span class="material-symbols-outlined">
								person
							</span>
						</div>
						<input
							type="text"
							aria-label="inputtext"
							name="registersurname"
							id="fregister-surname"
							class="w-full h-14 block leading-5 relative pt-2 pl-14 pr-4 rounded-t bg-gray-100 border-b focus:border-b-2 border-gray-500 overflow-x-auto focus:outline-none focus:ring-0 text-gray-800 focus:border-primary-600 peer"
							placeholder=" "
							value=""
						/>
						<label
							for="fregister-surname"
							class="absolute text-gray-500 duration-300 transform -translate-y-3.5 scale-75 top-4 z-10 origin-[0] left-14 peer-focus:left-14 peer-focus:text-primary-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-3.5 peer-invalid:text-error-600"
							>Sobrenome</label
						>
						<div class="pt-1 px-4 text-xs tracking-[0.4px] text-error-600"><%= errorMessageSurname %></div>
					</div>
				</div>
				<div class="relative z-0 input-filled">
					<div class="absolute left-4 top-4 z-10">
						<span class="material-symbols-outlined"> email </span>
					</div>
					<input
						type="email"
						aria-label="inputtext"
						name="registeremail"
						id="fregister-email"
						class="w-full h-14 block leading-5 relative pt-2 pl-14 pr-4 rounded-t bg-gray-100 border-b focus:border-b-2 border-gray-500 overflow-x-auto focus:outline-none focus:ring-0 text-gray-800 focus:border-primary-600 peer"
						placeholder=" "
						value=""
					/>
					<label
						for="fregister-email"
						class="absolute text-gray-500 duration-300 transform -translate-y-3.5 scale-75 top-4 z-10 origin-[0] left-14 peer-focus:left-14 peer-focus:text-primary-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-3.5 peer-invalid:text-error-600"
						>Email</label
					>
					<div class="pt-1 px-4 text-xs tracking-[0.4px] text-error-600"><%= errorMessageEmail %></div>
				</div>
				<div class="relative z-0 input-filled">
					<div class="absolute left-4 top-4 z-10">
						<span class="material-symbols-outlined"> lock </span>
					</div>
					<input
						type="password"
						aria-label="inputtext"
						name="registerpassword"
						id="fregister-password"
						class="w-full h-14 block leading-5 relative pt-2 pl-14 pr-4 rounded-t bg-gray-100 border-b focus:border-b-2 border-gray-500 overflow-x-auto focus:outline-none focus:ring-0 text-gray-800 focus:border-primary-600 peer"
						placeholder=" "
						value=""
					/>
					<label
						for="fregister-password"
						class="absolute text-gray-500 duration-300 transform -translate-y-3.5 scale-75 top-4 z-10 origin-[0] left-14 peer-focus:left-14 peer-focus:text-primary-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-3.5 peer-invalid:text-error-600"
						>Senha</label
					>
					<div class="pt-1 px-4 text-xs tracking-[0.4px] text-error-600"><%= errorMessagePassword %></div>
				</div>
				<div class="relative z-0 input-filled">
					<div class="absolute left-4 top-4 z-10">
						<span class="material-symbols-outlined"> lock </span>
					</div>
					<input
						type="password"
						aria-label="inputtext"
						name="registerconfirmpassword"
						id="fregister-confirmpassword"
						class="w-full h-14 block leading-5 relative pt-2 pl-14 pr-4 rounded-t bg-gray-100 border-b focus:border-b-2 border-gray-500 overflow-x-auto focus:outline-none focus:ring-0 text-gray-800 focus:border-primary-600 peer"
						placeholder=" "
						value=""
					/>
					<label
						for="fregister-confirmpassword"
						class="absolute text-gray-500 duration-300 transform -translate-y-3.5 scale-75 top-4 z-10 origin-[0] left-14 peer-focus:left-14 peer-focus:text-primary-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-3.5 peer-invalid:text-error-600"
						>Confirme a Senha</label
					>
					<div class="pt-1 px-4 text-xs tracking-[0.4px] text-error-600"><%= errorMessageConfirmaPassword %></div>
				</div>
			</fieldset>
			<fieldset
				class="w-96 h-fit flex flex-col gap-4 justify-center mb-6"
			>
				<div class="flex justify-between items-center">
					<label class="flex items-center">
						<input
							type="checkbox"
							name="termos"
							class="w-[18px] h-[18px] hover:accent-primary-600 accent-primary-600 rounded-[2px] ltr:mr-3 rtl:ml-3"
							value="true"
						/>
						<span
							style="padding-left: 8px"
							class="uppercase text-xs tracking-[0.5px] font-medium text-gray-200"
							>Aceito os termos de
							<a href="#" class="text-primary-600">uso</a> e de
							<a href="#" class="text-primary-600"
								>privacidade</a
							></span
						>
					</label>
				</div>
				<div class="pt-1 px-4 text-xs tracking-[0.4px] text-error-600 flex-none"><%= errorMessageTermos %></div>
				<button
					type="submit"
					class="btn relative flex flex-row items-center justify-center gap-x-2 py-2.5 px-6 rounded-[6.25rem] hover:shadow-md text-sm tracking-[.00714em] font-medium bg-primary-600 text-white"
				>
					Enviar
				</button>
			</fieldset>
		</form>
		<div class="flex items-center flex-col gap-2">
			<a
				href="/login"
				class="text-neutral-600 uppercase text-xs tracking-[0.5px] font-medium underline"
				>Tem conta? Faça o seu login aqui!</a
			>
			<a
				href="/"
				class="text-neutral-600 uppercase text-xs tracking-[0.5px] font-medium inline-flex gap-1 items-center"
			>
				<span class="material-symbols-outlined text-neutral-600 text-sm"
					>home</span
				>
				Voltar ao inicio
			</a>
		</div>
	</div>
</div>
